In [1]:
# Import important libraries
import pandas as pd

In [2]:
# Import the .csv file as a pandas dataframe
df = pd.read_csv("./personality_dataset.csv")

In [3]:
# Display first 15 rows of the dataset
df.head(15)

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert
5,1.0,No,7.0,5.0,No,6.0,6.0,Extrovert
6,4.0,No,9.0,NaN,No,7.0,7.0,Extrovert
7,2.0,No,8.0,4.0,No,7.0,8.0,Extrovert
8,10.0,Yes,1.0,3.0,Yes,0.0,3.0,Introvert
9,0.0,No,8.0,6.0,No,13.0,8.0,Extrovert
10,3.0,No,9.0,6.0,No,15.0,5.0,Extrovert
11,10.0,Yes,3.0,1.0,Yes,4.0,0.0,Introvert
12,3.0,No,6.0,7.0,No,14.0,10.0,Extrovert
13,3.0,No,6.0,4.0,No,10.0,7.0,Extrovert
14,6.0,Yes,3.0,0.0,Yes,1.0,3.0,Introvert

In [4]:
# Display info about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2837 non-null   float64
 1   Stage_fear                 2827 non-null   object
 2   Social_event_attendance    2838 non-null   float64
 3   Going_outside              2834 non-null   float64
 4   Drained_after_socializing  2848 non-null   object
 5   Friends_circle_size        2823 non-null   float64
 6   Post_frequency             2835 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [5]:
# Determine how many nulls are in each column
df.isnull().sum()

Time_spent_Alone             63
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

In [6]:
# Step 1: Deal with the numerical data
numerical_cols = ['Time_spent_Alone', 'Social_event_attendance', 'Going_outside', 'Friends_circle_size', 'Post_frequency']

# Loop through the numerical columns, and fill null values with the median of that column
for col in numerical_cols:
    df[col] = df[col].fillna(df[col].median())

In [7]:
# Step 2: Deal with the categorical data
categorical_cols = ['Stage_fear', 'Drained_after_socializing', 'Personality']

# Loop through the categorical columns, and fill null values with the mode of that column
for col in categorical_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [8]:
# Make sure we have no null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   object
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   object
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   object
dtypes: float64(5), object(3)
memory usage: 181.4+ KB

In [17]:
# Step 3: Map the categorical data to an appropriate numerical value
binary_map = {"Yes": 1, "No": 0, "Introvert": 0, "Extrovert": 1}

df['Stage_fear'] = df['Stage_fear'].map(binary_map)
df['Drained_after_socializing'] = df['Drained_after_socializing'].map(binary_map)
df['Personality'] = df['Personality'].map(binary_map)

In [19]:
# Step 4: Normalize the value from 0-1
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

In [20]:
# Before saving the cleaned dataset, make sure everything is fine
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2900 entries, 0 to 2899
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Time_spent_Alone           2900 non-null   float64
 1   Stage_fear                 2900 non-null   int64
 2   Social_event_attendance    2900 non-null   float64
 3   Going_outside              2900 non-null   float64
 4   Drained_after_socializing  2900 non-null   int64
 5   Friends_circle_size        2900 non-null   float64
 6   Post_frequency             2900 non-null   float64
 7   Personality                2900 non-null   int64
dtypes: float64(5), int64(3)
memory usage: 181.4 KB
None
       Time_spent_Alone   Stage_fear  Social_event_attendance  Going_outside  \
count       2900.000000  2900.000000              2900.000000    2900.000000
mean           0.408621     0.486207                 0.394276       0.428571
std            0.312906     0.499896                 0.287599       0.317371
min            0.000000     0.000000                 0.000000       0.000000
25%            0.181818     0.000000                 0.200000       0.142857
50%            0.363636     0.000000                 0.300000       0.428571
75%            0.636364     1.000000                 0.600000       0.714286
max            1.000000     1.000000                 1.000000       1.000000

       Drained_after_socializing  Friends_circle_size  Post_frequency  \
count                2900.000000          2900.000000     2900.000000
mean                    0.485172             0.415678        0.355207
std                     0.499866             0.282484        0.289479
min                     0.000000             0.000000        0.000000
25%                     0.000000             0.200000        0.100000
50%                     0.000000             0.333333        0.300000
75%                     1.000000             0.666667        0.600000
max                     1.000000             1.000000        1.000000

       Personality
count  2900.000000
mean      0.514138
std       0.499886
min       0.000000
25%       0.000000
50%       1.000000
75%       1.000000
max       1.000000

In [315]:
# Step 5: Save the clean data as a new .csv file
df.to_csv("cleaned_personality_dataset.csv", index=False)